.App__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*.App__main>div {
  width: 50vw;
}*/

.App__header {
  background-color: #282c34;
  min-height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  box-sizing: border-box;
  padding: 0 2em 0 2em;
}

.App__link {
  color: #61dafb;
}

hr {
  width: 100vw;
}