.PinController {
    margin-bottom: 0.2em;
}

.PinController__btn {
    background-color: #eee;
    box-sizing: border-box;
    width: 6em;
    margin-right: 2em;
    padding: 0.5em;
    border: 1px solid #aaa;
    outline: none;
    cursor: pointer;
    font-size: 0.8em;
}

.PinController__btn:hover {
    background-color: #888;
}

.PinController__btn--active {
    background-color: #004181;
    color: white;
}

.PinController__btn--active:hover {
    background-color: #002549;
}

.PinController__btn--pending {
    background-color: gold;
}

.PinController__btn--pending:hover {
    background-color: #b49900;
}