.ValveTable {
    width: 90vw;
    max-width: 60em;
    display: flex;
    align-items: baseline;
}

.ValveTable__table {
    margin-left: 5em;
}

.ValveTable__table:first-child {
    margin-left: 0;
}

.ValveTable__table>thead {
    font-weight: bold;
    height: 2.5em;
}

.ValveTable__table td {
    width: 6em;
    text-align: center;
}

.ValveTable__table td:first-child,
.ValveTable__table th:first-child {
    width: auto;
    padding-right: 1em;
    text-align: left;
}

.ValveTable__table td button {
    margin: auto;
}